:root {
  --gray: #CDCBD6;
  --sienna: #D96846;
  --moss: #596235;
  --olive: #2f3020;
  --white: #fff;
}

* {
  font-family: 'Oxygen', sans-serif;
}

html {
  overflow-y: hidden;
}

main {
  background-color: var(--moss);
}

/* NAVBAR SECTION */
#contact-button {
  background-color: var(--olive);
  color: var(--white);
  width: 100px;
  border: 2px solid var(--gray);
  font-size: 1rem;
}

.title {
  color: var(--white);
  font-size: 5vw;
  margin: 0;
}

.navbar-brand {
  justify-content: space-between;
  background-color: var(--sienna);
  border-bottom: 5px solid var(--gray);
  min-width: 100%;
  max-width: 100%;
  height: 8vw;
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.title:not(:last-child) {
  margin-bottom: 0;
}

/* HEADER SECTION */
#search-btn {
  border-radius: 0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--sienna);
  color: var(--white);
}

.searchField {
  width: 100%;
}

.input {
  width: 80vw;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

h2 {
  font-size: 2rem;
}

header {
  color: var(--white);
  padding: 10px;
}

header img {
  width: 10vw;
  max-width: 120px;
}

/* Float columns side by side */
.column {
  float: left;
  width: 25%;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* MAIN SECTION */
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: var(--white);
}

tr:nth-child(even) {
  background-color: var(--gray);
}

tr:hover {
  background-color: var(--sienna);
}

th {
  background-color: var(--sienna);
  color: var(--gray);
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 769px) {
  .input {
    width: 100%;
  }

  .searchField {
    width: 100%;
  }

  header img {
    display: none;
  }

  h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .title {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}