:root {
  --gray: #CDCBD6;
  --sienna: #D96846;
  --moss: #596235;
  --olive: #2f3020;
  --white: #fff;
}

* {
  font-family: 'Oxygen', sans-serif;
}

html {
  overflow-y: hidden;
}

main {
  background-color: var(--moss);
}

/* NAVBAR SECTION */
#logo {
  width: 65px;
  max-width: 80px;
}

#contact-button {
  background-color: var(--olive);
  color: var(--white);
  width: 100px;
  border: 2px solid var(--gray);
  font-size: 1rem;
}

.title {
  color: var(--white);
  font-size: 5vw;
  margin: 0;
}

.navbar-brand {
  justify-content: space-between;
  background-color: var(--sienna);
  border-bottom: 5px solid var(--gray);
  min-width: 100%;
  max-width: 100%;
  height: 8vw;
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.title:not(:last-child) {
  margin-bottom: 0;
}

/* HEADER SECTION */
#search-btn {
  border-radius: 20px;
  /* border-bottom-right-radius: 20px;
  border-top-right-radius: 20px; */
  background-color: var(--sienna);
  color: var(--white);
}

.searchField {
  width: 100%;
}

.input {
  width: 80vw;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

h2 {
  font-size: 2rem;
}

header {
  color: var(--white);
  padding: 10px;
}

header img {
  width: 10vw;
  height: 10vw;
  max-width: 120px;
}

/* Create two equal columns that float next to each other */
.searchPic,
.searchField {
  float: left;
}
.search-icon {
  width: auto;
  height: 40px;
  max-height: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  /* Adjust this value to change the height of the button */
  padding: 0 15px;
  /* Adjust the padding to change the width of the button */
}
.logo-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
/* Left column */
.left {
  width: 40%;
}

/* right column */
.right {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other on smaller screens */
/* MAIN SECTION */
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: var(--white);
}

tr:nth-child(even) {
  background-color: var(--gray);
}


tr:hover {
  background-color: var(--sienna);
}


th {
  background-color: var(--sienna);
  color: var(--gray);
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 769px) {
  #logo {
    max-width: 60px;
  }

  .input {
    width: 100%;
  }

  .searchBox {
    max-width: 0px;
    padding: 0;
  }

  .searchField {
    width: 100%;
    margin: 10px 0;
  }

  .searchPic {
    max-width: 0px;
    padding: 0px;
  }

  header img {
    display: none;
  }

  h2 {
    font-size: 25px;
  }

  header {
    padding: 0;
  }

  .navbar-brand {
    min-height: 12.5vw;
  }
}

@media screen and (max-width: 600px) {
  .card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .title {
    font-size: 30px;
  }

  table,
  th,
  td {
    border: 1px solid;
  }

  th,
  td {
    padding: 15px;
    text-align: center;
  }

}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other on smaller screens */


/* MAIN SECTION */
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: var(--white);
}

tr:nth-child(even) {
  background-color: var(--gray);
}


tr:hover {
  background-color: var(--sienna);
}


th {
  background-color: var(--sienna);
  color: var(--gray);
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .searchField {
    margin-bottom: 0px;
  }
}


/* Recents table */

body {
  font-family: sans-serif;
  background-color: var(--gray);
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: normal;

}

h2 {
  font-size: 28px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

p {
  line-height: 30px;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.rounded {
  border-radius: 30px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Nutrition Table */

.form h2 {
  font-size: 24px;
  font-weight: 400;
}

.form h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

.form-section {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: 500;
}

.input {
  min-width: 200px;
  border: none;
  background-color: white;
  width: 100%;
}

::placeholder {
  color: var(--neutral-3);
}

input:not(.btn):focus {
  outline: none;
}

/* NAVBAR */
.navbar1 {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-brand1 {
  font-weight: 450;
  text-decoration: none;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: initial;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  color: var(--gray);
  border: 2px solid var(--olive);
}

.table th {
  padding: 15px;
}

.table td {
  padding: 10px;
}

.table tbody {
  font-size: 18px;
  border: 1px solid var(--gray);
}

.table tbody tr:nth-child(2n) {
  background-color: white;
}

  .table tbody tr:nth-child(2n + 1) {
    
  }
    @media screen and (max-width: 768px) {
      .logo-image {
        max-width: 80%;
      }
    }
  
    @media screen and (max-width: 480px) {
      .logo-image {
        max-width: 60%;
      }
    }