#search-btn {
    min-width: 100%;
}

main {
    min-height: 100vw;
}

section {
    min-width: 100vw;
    min-height: 100vw;
}

.container {
    margin: 10vw;
}

.control {
    justify-content: center;
    min-width: 100%
}

.navbar-brand {
    padding: 15px;
    border-bottom: 5px solid black;
    padding-bottom: 0;
    
}

h1 {
    margin: 0;
}